
{{> head }}

{{> navbar }}


<div class="row">
	<div class="col-md-8">
		<h1>
			Acerca de la paginita
		</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore at laudantium iusto accusamus animi mollitia a nobis error voluptatibus soluta pariatur ipsa laborum ducimus, vel dolores quod consectetur harum ad.</p>
	</div>
	<div class="col-md-4">
		<img src="assets/img/perrete_wso.jpg" alt="" class="img-thumbnail">
	</div>
</div>





{{> footer }}